extends ./public/email-templates/default.pug
block content
   .wrapper(style="color: #70B9F6; font-weight: 300; padding: 30px;")
      .title-wrapper
         .title(style="font-size: 28px; color: #626262; font-weight: 300; display:inline-block; vertical-align:top;")= title
      .message(style="font-size:18px;color: #808080; margin: 20px 0")= message
      .info
         - var i = 0;
         each val, index in info
            if (index=='xlink')
               br
               .item(style=("text-decoration:none;margin-top: 32px;display:inline-block;font-size:18px;color:#fff;background:#6EBAF9; padding: 10px 30px;"))
                  .value(style="color:#fff;text-decoration:none; text-align: center")!= val.v
            else
               .item(style=(i?"display: inline-block; padding: 0 0 0 20px;":"display: inline-block; padding: 0;"))
                  .name(style="display:inline-block;color:#626262;")= val.k
                  .value(style="font-weight:100;display:inline-block; margin-left: 5px;")!= val.v
            -i++;

